.event_cards {
    display: flex;
    flex-wrap: nowrap;
    overflow:  auto;
    overflow-x: scroll;
}
.event_card {
    min-width: 250px;
    height: 100px;
    color: white;
    margin: 4px;
    cursor: pointer;
}

.event_card:hover {
    color:  white;
}